tqdm
matplotlib
requests
python-docx
openpyxl
spacy
openai
argparse
aiofiles
edge_tts
pillow
moviepy
numpy
pandas
chardet
azure-cognitiveservices-speech
flask 
librosa
soundfile
pyinstaller
setuptools
platformdirs
pyarmor
ntplib